// override element-plus scss config
// @forward 'element-plus/theme-chalk/src/mixins/config.scss' with ();

// override element-plus light-mode scss-variables
// @forward 'element-plus/theme-chalk/src/common/var.scss' with ();

@use './dark.scss';
